/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap);

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: linear-gradient(#405166 0%,#656f6f 100%);
  background-size: cover;
}
.flex-spacer {
  flex-grow: 1;
}
